html,
body {
  height: 100%;
  background-color: #f2f3f5;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: $blue-dark;
}

#root {
  min-height: 100%;
  position: relative;
}
nav {
  padding: 10px;
  background: $gray-light;
  margin-bottom: 10px;
}

.active {
  color: $blue;
}
